*{
    margin: 0px;
    padding: 0px;
}
body
{
   background-color: rgb(194, 243, 245);
   font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    width: 1100px;
    margin: 0px auto;
    border: 1px solid rgb(238, 232, 232);
    background-color: rgb(241, 228, 173);
}

header{
    background-color: rgb(219, 236, 187);
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white(21, 255, 0);
    border-bottom: 3px dashed rgb(19, 18, 18);
}
nav{
    background-color: rgb(255, 254, 253);
    height: 50px;
    border-bottom: solid rgb(19, 18, 18);


}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{
    clear:both;
}
#content{
    float: left;
    width: calc(80% - 80px);
    min-width: 500px;
    /* background-color: https://png.pngtree.com/20210711/original/pngtree-cute-pet-shop-poster-design-background-picture-image_1101107.jpg> */
    padding: 40px;

}
aside{
    float: left;
    width: calc(20% - 20px);
    background-color: rgb(249, 253, 249);
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
   
}
footer{
    background-color: rgb(15, 15, 15);
    color: rgb(240, 229, 229);
    text-align: center;
    height: 50px;
    line-height: 50px;

}
.button 
{
    background-color: rgb(218,247,166);
   border-radius: 10rem;
    color: rgb(218, 247, 166);
    padding: 8px 16px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;

}
.button1 {width: 250px;}
.button2 {width: 50%;}
.button3 {width: 100%;}
.button {
    float: left;
}
button:hover 
{
    background-color: rgba(218, 247, 166);
    color: rgba(34, 255, 5, 0.582);
}
button :active
{
    padding: 20px;
    background-color: rgb(34, 139, 61);
    color: rgb(22, 255, 22);

}