.add-new-item-component-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-align: initial;
  border-radius: 0;
  outline: none;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
  display: inline-block;
}

.add-new-item-component-button .bowtie-math-plus-heavy,
.add-new-item-component-button .bowtie-math-plus-heavy.enabled {
  margin-right: 5px;
  color: rgba( 16, 124, 16 ,  1 );
  color: rgba( var(--palette-accent2-dark,16, 124, 16) ,  1 );
}

.add-new-item-component-button .bowtie-chevron-down {
  margin-left: 2px;
}

.add-new-item-component-button.active, .add-new-item-component-button:hover, .add-new-item-component-button:focus {
  outline: none;
  background-color: rgba( 222, 236, 249 ,  1 );
  background-color: rgba( var(--palette-primary-tint-30,222, 236, 249) ,  1 );
}

.add-new-item-component-button.disabled, .add-new-item-component-button.disabled:hover, .add-new-item-component-button.disabled:focus {
  cursor: default;
  opacity: 0.7;
  background-color: transparent;
}
