.agile-hub-error .vss-ZeroData .vss-ZeroDataItem, .agile-hub-error .vss-ZeroData.single .vss-ZeroDataItem {
  max-width: 850px;
}

.agile-hub-error .vss-ZeroData .vss-ZeroDataItem .vss-ZeroDataItem--secondary, .agile-hub-error .vss-ZeroData.single .vss-ZeroDataItem .vss-ZeroDataItem--secondary {
  text-align: left;
}

.agile-hub-error .vss-ZeroData .vss-ZeroDataItem .vss-ZeroDataItem--secondary ul, .agile-hub-error .vss-ZeroData.single .vss-ZeroDataItem .vss-ZeroDataItem--secondary ul {
  margin: 0;
  padding: 0;
}

.agile-hub-error .vss-ZeroData .vss-ZeroDataItem .vss-ZeroDataItem--secondary .error-footer, .agile-hub-error .vss-ZeroData.single .vss-ZeroDataItem .vss-ZeroDataItem--secondary .error-footer {
  display: flex;
  justify-content: center;
}

.agile-hub-error .vss-ZeroData .vss-ZeroDataItem .vss-ZeroDataItem--secondary .error-footer .error-button, .agile-hub-error .vss-ZeroData.single .vss-ZeroDataItem .vss-ZeroDataItem--secondary .error-footer .error-button {
  padding: 25px 10px;
}
