.backlog-content-view .vss-PivotBar {
  height: 100%;
}

.backlog-content-view .vss-PivotBar .vss-PivotBarItem.customPadding {
  width: 100%;
}

.backlog-content-view .vss-FavoriteIconButton {
  background-color: transparent;
}

.backlog-content-view .vss-FavoriteIconButton:hover {
  background-color: transparent;
}

.backlog-content-view .backlog-title-icon {
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
}

.backlog-hub-tile-region {
  display: flex;
}

.vss-IndicatorSet .vss-FavoriteIconButton {
  background-color: transparent;
}
