.reorder-dialog input {
  margin-top: 5px;
}

/* When drag is active, do not style rows when hovering */
.productbacklog-grid-drag-active .grid-row-hover {
  background-color: transparent;
}

/* When drag is active and hovered over a selected row, style the row with default row selected color. Mseng $neutral-80 */
.productbacklog-grid-drag-active .grid-row-selected.grid-row-hover {
  background-color: rgba( 239, 246, 252 ,  1 );
  background-color: rgba( var(--palette-primary-tint-40,239, 246, 252) ,  1 );
}

/* Work around IE spacing issue (cf. http://jsfiddle.net/gLx0h9wm/3/ and mseng #304673) */
.productbacklog-grid-results {
  flex: auto;
}

.productbacklog-grid-results .grid-content-spacer {
  margin-bottom: 0px;
  margin-top: 3px;
}

.productbacklog-grid-results .add-icon-cell > .backlog-decompose-button {
  color: rgba(0, 90, 158, 1);
  color: var(--communication-foreground,rgba(0, 90, 158, 1));
  vertical-align: middle;
}

.backlog-view .backlogs-contributed-tab-content, .contributed-tab-content-container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.backlogs-extension-tool-panel-container {
  height: 100%;
}

/** Product backlog (pb) specific styling */
.add-panel-table .invalid input, .add-panel-table .invalid .drop {
  background-color: rgba(255, 255, 255, 1);
  background-color: var(--background-color,rgba(255, 255, 255, 1));
}

.menu-item .identity-picker-display .user-picture-resolved,
.menu-item .identity-picker-display .identity-picker-resolved-name {
  cursor: pointer !important;
}

/* Context menu is not available for temporary or custom rows */
.product-backlog-custom-row .grid-context-menu {
  display: none !important;
}

.grid-header .grid-header-column .title .bowtie-status-warning-outline {
  margin-bottom: 5px;
}

.grid-header .grid-header-column.expand-collapse-icons-header .separator {
  display: none;
}

.grid-header .grid-header-column.expand-collapse-icons-header .expand-icon, .grid-header .grid-header-column.expand-collapse-icons-header .collapse-icon {
  cursor: pointer;
  padding-top: 7px;
  padding-left: 3px;
  padding-right: 2px;
  padding-bottom: 4px;
}

.grid-header .grid-header-column.expand-collapse-icons-header .expand-icon:hover, .grid-header .grid-header-column.expand-collapse-icons-header .collapse-icon:hover {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
  color: rgba(0, 0, 0, .9);
  color: var(--text-primary-color,rgba(0, 0, 0, .9));
}

.grid-header .grid-header-column.expand-collapse-icons-header:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
}
