.backlog-add-item-callout {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px;
  align-items: center;
}

.backlog-add-item-callout .add-work-item-inputs {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 1px;
  margin-right: 10px;
}

.backlog-add-item-callout .add-work-item-inputs .row {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.backlog-add-item-callout .add-work-item-inputs .row .type-label {
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 10px;
}

.backlog-add-item-callout .add-work-item-inputs .row .type-label .work-item-type-single {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
  align-items: center;
}

.backlog-add-item-callout .add-work-item-inputs .row .type-label .work-item-type-single > i {
  margin-right: 5px;
}

.backlog-add-item-callout .add-work-item-inputs .row .type-label .vss-PickListDropdown {
  width: 150px;
}

.backlog-add-item-callout .add-work-item-inputs .row .input {
  width: 350px;
}

.backlog-add-item-callout .add-work-item-inputs .row.legacy-input {
  margin-top: 8px;
}

.backlog-add-item-callout .submit-button {
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
