.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
  font-size: 18px;
  font-weight: 300;
}

.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container {
  margin-left: 5px;
}

.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button {
  padding: 0px 5px !important;
}

.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button, .change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button:active, .change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button:hover, .change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button:focus {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: initial;
  border-radius: 0;
}

.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button .ms-Button-flexContainer {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}

.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button .ms-Button-flexContainer i {
  font-size: 14px;
  margin-top: 2px;
  margin-left: 10px;
}

.change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button:hover, .change-parent-dialog .change-parent-dialog-content .change-parent-dialog-team-header .change-parent-dialog-team-header-button-container .change-parent-dialog-team-header-button:focus {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.change-parent-workitem-picker {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.change-parent-workitem-picker .work-item-color-bar {
  float: left;
  display: block;
  width: 6px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.change-parent-workitem-picker.selection-title .work-item-color-bar {
  margin-top: 6px;
}

.change-parent-workitem-picker.dropdown-title .work-item-color-bar {
  margin-top: 2px;
}

.change-parent-workitem-picker .work-item-id {
  display: inline;
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
  margin-right: 5px;
}

.change-parent-dialog.change-parent-dialog,
.change-parent-simple-message-dialog.change-parent-simple-message-dialog {
  min-width: 450px;
}
