/***** Begin Favorites *****/
.starbutton.bowtie-icon {
  font-family: "bowtie";
  background-color: transparent;
  border: none;
  border-width: 1px;
  box-shadow: none;
  padding: 0px;
  /* Unsetting default fabric button sizing  */
  min-width: 0;
  height: 16px;
  color: rgba(0, 0, 0, .9);
  color: var(--text-primary-color,rgba(0, 0, 0, .9));
  font-weight: normal;
  cursor: auto;
}

.starbutton.bowtie-icon > * {
  display: none;
}

.starbutton.bowtie-icon.bowtie-favorite {
  color: rgba( 214, 127, 60 ,  1 );
  color: rgba( var(--palette-accent3,214, 127, 60) ,  1 );
  cursor: pointer;
}

.ms-Fabric--isFocusVisible .starbutton.bowtie-icon.bowtie-favorite:focus,
.vss-focus-visible .starbutton.bowtie-icon.bowtie-favorite:focus {
  outline: 1px solid rgba( 0, 0, 0 ,  1 );
  outline: 1px solid rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
}

.starbutton.bowtie-icon.bowtie-favorite-outline:hover, .starbutton.bowtie-icon.bowtie-favorite-outline:focus {
  color: rgba( 214, 127, 60 ,  1 );
  color: rgba( var(--palette-accent3,214, 127, 60) ,  1 );
  cursor: pointer;
}

.ms-Fabric--isFocusVisible .starbutton.bowtie-icon.bowtie-favorite-outline:focus,
.vss-focus-visible .starbutton.bowtie-icon.bowtie-favorite-outline:focus {
  outline: 1px solid rgba( 0, 0, 0 ,  1 );
  outline: 1px solid rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
}

/***** End Favorites *****/
