.importcsv-panel-contents {
  margin-left: 17px;
}

.importcsv-panel-contents .file-container {
  margin-bottom: 20px;
}

.importcsv-panel-contents .file-container .importcsv-panel-title {
  margin-bottom: 20px;
}

.importcsv-panel-contents .importcsv-error-title {
  margin-bottom: 5px;
}

.importcsv-panel-contents .importcsv-loading-spinner {
  margin-top: 15px;
}
