.mapping-pane {
  padding: 5px 24px;
  padding-right: 30px;
  height: 100%;
}

.mapping-pane .mapping-component {
  height: 100%;
}

.mapping-pane .mapping-component .mapping-work-item-container {
  height: 100%;
}
