.mapping-component {
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mapping-component .mapping-header {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  align-items: center;
  padding: 15px 0px;
  border-bottom:  1px solid;
  border-bottom-color: rgba( 200, 200, 200 ,  1 );
  border-bottom-color: rgba( var(--palette-neutral-20,200, 200, 200) ,  1 );
}

.mapping-component .mapping-header .team-header {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
  font-size: 18px;
  font-weight: 300;
}

.mapping-component .mapping-header .team-header .team-header-button-container {
  margin-left: 5px;
}

.mapping-component .mapping-header .team-header .team-header-button-container .team-header-button {
  padding: 0px 5px !important;
}

.mapping-component .mapping-header .team-header .team-header-button-container .team-header-button, .mapping-component .mapping-header .team-header .team-header-button-container .team-header-button:active, .mapping-component .mapping-header .team-header .team-header-button-container .team-header-button:hover, .mapping-component .mapping-header .team-header .team-header-button-container .team-header-button:focus {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: initial;
  border-radius: 0;
}

.mapping-component .mapping-header .team-header .team-header-button-container .team-header-button .ms-Button-flexContainer {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}

.mapping-component .mapping-header .team-header .team-header-button-container .team-header-button .ms-Button-flexContainer i {
  font-size: 14px;
  margin-top: 2px;
  margin-left: 10px;
}

.mapping-component .mapping-header .team-header .team-header-button-container .team-header-button:hover, .mapping-component .mapping-header .team-header .team-header-button-container .team-header-button:focus {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.mapping-component .mapping-header .header-commands {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

.mapping-component .mapping-header .header-commands button i {
  color: rgba(0, 90, 158, 1);
  color: var(--communication-foreground,rgba(0, 90, 158, 1));
}

.mapping-component .mapping-header .header-commands:hover, .mapping-component .mapping-header .header-commands:focus {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.mapping-component .mapping-work-item-container {
  -webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
  margin-top: 10px;
}

.mapping-component .mapping-work-item-container .vss-ZeroDataItem--primary {
  font-size: 24px;
}

.mapping-team-callout {
  max-height: 300px;
  width: 400px;
}
