.bowtie-icon.vsts-fabric-contextual-menu-icon {
  font-family: 'bowtie' !important;
  vertical-align: baseline;
}

.bowtie-icon.vsts-fabric-command-bar-icon {
  font-family: 'bowtie' !important;
  line-height: inherit;
}

.bowtie-icon.vsts-fabric-pivot-icon {
  font-family: 'bowtie' !important;
}
