.pivot-view {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: inline-block;
}

.pivot-view ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  display: inline-block;
}

.pivot-view li {
  list-style: none;
  float: left;
  position: relative;
  padding: 0;
  white-space: nowrap;
  min-width: 10px;
  height: 34px;
}

.pivot-view a:not(.ms-Button) {
  float: left;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 34px;
  line-height: 14px;
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
  outline: 0;
}

.pivot-view a:not(.ms-Button):visited, .pivot-view a:not(.ms-Button):active {
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
}

.pivot-view a:not(.ms-Button):hover {
  color: rgba( 0, 90, 158 ,  1 );
  color: rgba( var(--palette-primary-shade-20,0, 90, 158) ,  1 );
  text-decoration: none;
}

.pivot-view a:not(.ms-Button):focus {
  outline: none;
}

.vss-focus-visible .pivot-view a:not(.ms-Button):focus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border:  1px solid;
  border-color: rgba( 0, 0, 0 ,  1 );
  border-color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
}

.pivot-view li:first-child a {
  padding-left: 0;
}

.pivot-view li.selected a {
  color: rgba( 16, 110, 190 ,  1 );
  color: rgba( var(--palette-primary-shade-10,16, 110, 190) ,  1 );
}

.pivot-view li.disabled {
  display: none;
}
