.pivot-view-component .filter-area {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pivot-view-component .filter-area .filter {
  float: left;
}

.pivot-view-component.data {
  position: relative;
  float: right;
  padding: 6px;
}

.pivot-view a {
  color: initial;
}

.pivot-view a:visited {
  color: initial;
}

.pivot-view a:hover {
  color: initial;
  text-decoration: none;
}
