.sprint-planning-view {
  -webkit-box-flex: 0 0 550px;
  -webkit-flex: 0 0 550px;
  flex: 0 0 550px;
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 24px;
}

.sprint-planning-view .sprint-planning-row-list {
  padding: 10px;
}

.sprint-planning-view .sprint-planning-row-list .sprint-planning-row + .sprint-planning-row {
  margin-top: 10px;
}

.sprint-planning-view .sprint-planning-actions {
  -webkit-box-flex: 1 1 75px;
  -webkit-flex: 1 1 75px;
  flex: 1 1 75px;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
}

.sprint-planning-view .sprint-planning-zero-data {
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
