.identity-grid-cell .identity-picker-display.element-height-small {
  height: unset;
  line-height: unset;
}

.identity-grid-cell .identity-picker-display.element-height-small .identity-picker-resolved-name {
  padding-left: unset;
  padding-right: unset;
}

.identity-grid-cell .identity-picker-display {
  margin: unset;
}
