.saving-row {
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
}

.saving-row-gutter {
  background: url("../../_content/saving-icon.gif") no-repeat 0 0 !important;
}

.saving-row-gutter.grid-gutter-row-selected-blur .grid-gutter-drop {
  background: none !important;
}

.saving-row-gutter.grid-gutter-row-selected .grid-gutter-drop {
  background: none !important;
}

.saving-row-gutter .grid-gutter-drop:hover {
  background: none !important;
}
