.sprint-marker {
  margin-left: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 2px;
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
  min-width: 60px;
  text-align: center;
}

.sprint-marker.current-sprint {
  background-color: rgba( 16, 110, 190 ,  1 );
  background-color: rgba( var(--palette-primary-shade-10,16, 110, 190) ,  1 );
  color: rgba( 255, 255, 255 ,  1 );
  color: rgba( var(--palette-neutral-0,255, 255, 255) ,  1 );
}

@media screen and (-ms-high-contrast: white-on-black) {
  .sprint-marker.current-sprint {
    color: rgba( 255, 255, 255 ,  1 );
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .sprint-marker.current-sprint {
    color: rgba( 0, 0, 0 ,  1 );
  }
}
