.sprint-editor-page {
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
  padding: 20px 40px;
  max-width: 975px;
}

.sprint-editor-page .sprint-editor-page-title {
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 200;
  color: rgba(0, 90, 158, 1);
  color: var(--communication-foreground,rgba(0, 90, 158, 1));
}

.sprint-editor-page .sprint-editor-page-title .sprint-editor-page-title-header {
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
}

.sprint-editor-page .sprint-editor-page-title i {
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
  margin-right: 20px;
}

.sprint-editor-page .team-selection-box {
  margin-bottom: 20px;
}

.sprint-editor-page .team-selection-box .team-label-container {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.sprint-editor-page .team-selection-box .team-label-container .team-help {
  color: rgba(0, 90, 158, 1);
  color: var(--communication-foreground,rgba(0, 90, 158, 1));
}

.sprint-editor-view-container .vss-PivotBar .vss-PivotBar--bar-one-line {
  border-bottom: none;
}

.sprint-editor-view-container .group-message {
  padding-bottom: 20px;
}
