.sprint-editor-form-section + .sprint-editor-form-section {
  margin-top: 20px;
}

.create-iteration-form {
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.create-iteration-form .create-iteration-form-date-section {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.create-iteration-form .create-iteration-form-date-section .date-picker-wrapper {
  display: -webkit-box;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.create-iteration-form .create-iteration-form-date-section .date-picker-wrapper .date-picker.ms-DatePicker {
  margin-bottom: 0px;
}

.create-iteration-form .create-iteration-form-date-section .date-picker-wrapper .date-picker-error {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: rgba( 168, 0, 0 ,  1 );
  color: rgba( var(--palette-accent1-dark,168, 0, 0) ,  1 );
  font-size: 12px;
}

.create-iteration-form .create-iteration-form-date-section .date-picker-wrapper .date-picker-error i {
  margin-right: 5px;
  font-size: 14px;
}

.create-iteration-form .create-iteration-form-date-section .date-picker-wrapper.date-picker-wrapper--invalid .ms-DatePicker .ms-TextField-fieldGroup {
  border-color: rgba( 168, 0, 0 ,  1 );
  border-color: rgba( var(--palette-accent1-dark,168, 0, 0) ,  1 );
}

.create-iteration-form .create-iteration-form-date-section .create-iteration-date {
  -webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  /* Chrome fix - Chrome incorrectly sets a min-height/width it will not go lower than
     * See: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
     * CodePen with bug: https://codepen.io/philipwalton/pen/MYbrrr
     * CodePen with min-width: https://codepen.io/anon/pen/VrKGWa
     */
  min-height: 0;
  min-width: 0;
}

.create-iteration-form .create-iteration-form-date-section .create-iteration-date + .create-iteration-date {
  margin-left: 10px;
}

.classification-label {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.classification-label .classification-help {
  color: rgba(0, 90, 158, 1);
  color: var(--communication-foreground,rgba(0, 90, 158, 1));
  margin-left: 12px;
}

.form-footer-container {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.form-footer-container .form-option-toggle {
  margin-left: auto;
}

.submit-buttons-container {
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 120px;
}

.submit-buttons-container button {
  margin-left: 20px;
}
