.sprint-editor-callout {
  width: 500px;
}

.sprint-editor-callout .sprint-editor-callout-content {
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.sprint-editor-callout .sprint-editor-callout-content .sprint-editor-loading {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.sprint-editor-callout .sprint-editor-callout-content .sprint-editor-loading .loading-container {
  margin-top: auto;
  margin-bottom: auto;
}

.sprint-editor-callout .sprint-editor-callout-content .sprint-editor-page {
  padding: 20px;
}

.sprint-editor-callout .sprint-editor-callout-content .sprint-editor-page .submit-buttons-container {
  margin-top: 30px;
}

.sprint-editor-callout.sprint-editor-callout--message-visible .ms-Callout-beak {
  background-color: rgba( 244, 244, 244 ,  1 );
  background-color: rgba( var(--palette-neutral-4,244, 244, 244) ,  1 );
}
