.team-panel .team-panel-header-area {
  height: 85px;
}

.team-panel .team-panel-header-area .team-panel-header {
  display: flex;
  align-items: center;
}

.team-panel .team-panel-header-area .team-panel-header .team-header-icon {
  margin-left: 24px;
  width: 80px;
}

.team-panel .team-panel-header-area .team-panel-header .team-text {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.team-panel .team-panel-header-area .team-panel-header .team-text .team-name {
  padding-left: 4px;
  font-size: 18px;
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 275px;
}

.team-panel .team-panel-header-area .team-panel-header .team-text .project-name {
  padding-left: 4px;
  font-size: 14px;
  padding-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 275px;
}

.team-panel .team-panel-header-area .team-panel-header .team-text .team-settings {
  padding-top: 8px;
}

.team-panel .team-panel-header-area .team-panel-header .team-text .team-settings .team-settings-link {
  padding: 4px;
  font-size: 14px;
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
  /*this is actually a link, but style it black*/
}

.team-panel .ms-Panel-content {
  height: 100%;
  padding: 0px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container {
  height: 100%;
  padding-top: 2px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.team-panel .ms-Panel-content .team-panel-pivot-container > div > div:first-child {
  flex: 0 0 auto;
  padding: 0px 40px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container > div > div:last-child {
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 0px 40px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .team-panel-drop-down-container {
  margin-top: 10px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row {
  height: 64px;
  border-bottom:  1px solid;
  border-bottom-color: rgba( 244, 244, 244 ,  1 );
  border-bottom-color: rgba( var(--palette-neutral-4,244, 244, 244) ,  1 );
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .item-icon {
  font-size: 16px;
  padding-top: 3px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .item-text {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .item-text .item-title {
  font-size: 14px;
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
  /*this is actually a link, but style it black*/
  padding: 1px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 275px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .item-text .item-title > div {
  /*For titles that go longer than the default width,
                                ensure focus box won't cut off the end of the last letter*/
  padding-right: 1px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .item-text .item-group-type {
  font-size: 14px;
  font-style: rgba( 102, 102, 102 ,  1 );
  font-style: rgba( var(--palette-neutral-60,102, 102, 102) ,  1 );
  padding-left: 1px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .favorite-star {
  margin-left: auto;
  margin-right: 10px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .item-list .item-panel-row .favorite-star .bowtie-icon {
  font-size: 16px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .member-list {
  margin-top: 24px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .member-list .group-label {
  font-size: 14px;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .member-list .person-panel-row {
  height: 64px;
  border-bottom:  1px solid;
  border-bottom-color: rgba( 244, 244, 244 ,  1 );
  border-bottom-color: rgba( var(--palette-neutral-4,244, 244, 244) ,  1 );
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.team-panel .ms-Panel-content .team-panel-pivot-container .member-list .person-panel-row .person-title {
  font-size: 14px;
  padding-left: 16px;
  font-weight: 600;
  color: rgba( 0, 0, 0 ,  1 );
  color: rgba( var(--palette-neutral-100,0, 0, 0) ,  1 );
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 275px;
}
